/*===============================================================
  01. Google Fonts
=================================================================*/
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Montserrat italic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200 800;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf) format('truetype');
}

/* Montserrat normal */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
}

/* Open Sans normal  */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth-wght.ttf) format('truetype');
}

/* Open Sans Italic  */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 200 800;
  font-display: swap;
  src: url(../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth-wght.ttf) format('truetype');
}

/* Cairo (Arabic glyphs only) */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 200 1000;
  font-display: swap;
  src: url(../fonts/Cairo/Cairo-Arabic-VariableFont_wght.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC;
}