/*================================================================
  02. Color Variable
==================================================================*/
:root {
  --accent-color: #136DF4;
  --primary-color: #1F2937;
  --secondary-color: #4B5563;
  --secondary2-color: #8694A7;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color: #FFF6EB;
  --gray2-color: #F4F2F9;
  --gray3-color: #D2E3FF;
  --gray4-color: #F3F6FF;
  --gray5-color: #DBD5F7;
  --gray6-color: #F4F6F8;
  --gray7-color: #D3E4FF;
  --danger-color: #EF4444;
  --danger-darker-color: #DC2626;
  --warning-color: #F59E0B;

  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
}
