/*========================================================
  24. Appointment Section
==========================================================*/
.cs_appointment_section_1 {
  padding: 120px 0;

  @media (max-width: 991px) {
    padding: 60px 0;
  }
}

.cs_appointment_help_cta {
  width: calc(100% - 24px);
  position: absolute;
  left: 0;
  bottom: 24px;
  display: inline-flex;
  gap: 6px;
  flex-wrap: wrap;
  padding: 24px;
  background-color: rgba(19, 109, 244, 0.80);
  border-radius: 0 50px 50px 0;
  text-decoration: none;
  z-index: 2;

  a:hover {
    color: var(--white-color);
    text-decoration: underline;
  }
}

.cs_appointment_2 {
  width: calc(1320px + (100vw - 1344px) / 2);
  max-width: 1596px;
  padding: 48px;
  margin-left: auto;
  border-radius: 0 0 20px 20px;

  .cs_appointment_form_wrapper {
    padding-left: 115px;
    max-width: 993px;
  }

  .cs_checkup_schedule {
    padding: 12px 20px 20px;
    border-radius: 0 0 10px 10px;
    background-color: #bfd4cd;
    margin-top: -2px;
    position: relative;
    z-index: 1;
  }

  .cs_schedule_header {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;

    span {
      font-size: 24px;
      font-weight: 500;
      color: var(--primary-color);
      font-family: var(--primary-font);
    }

    img {
      display: inline-block;
      width: 18px;
      filter: brightness(0) saturate(100%) invert(27%) sepia(96%) saturate(1897%) hue-rotate(207deg) brightness(98%) contrast(95%);
    }

    a {
      font-size: 20px;
      font-weight: 700;
      color: var(--primary-color);
      font-family: var(--primary-font);

      &:hover {
        color: var(--accent-color);
      }
    }
  }

  .cs_schedult_list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(2, auto);
      align-items: center;
      justify-content: space-between;
    }
  }

  @media (max-width: 1399px) {
    width: calc(1140px + (100vw - 1184px) / 2);
    padding: 48px 20px;

    .cs_appointment_form_wrapper {
      padding-left: 0;
    }
  }

  @media (max-width: 1199px) {
    width: calc(960px + (100vw - 1008px) / 2);

    .cs_appointment_form_wrapper {
      padding-left: 0;
    }
  }

  @media (max-width: 991px) {
    width: 100%;
    padding: 40px 15px;
  }
}

.cs_appointment_content {
  .cs_appountment_features {
    display: flex;
    gap: 20px;
    flex-direction: column;

    li {
      position: relative;
      padding-left: 34px;

      img {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  .cs_content_bottom {
    padding-right: 112px;
  }

  .cs_appointment_img img {
    border-radius: 10px 10px 0 0;
  }

  .cs_funfact_style_1 {
    width: min(100%, 470px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .cs_funfact_item {
      position: relative;

      &::after {
        content: "";
        width: 1px;
        height: 68px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: rgba(134, 148, 167, 0.5);
      }

      &:last-child {
        margin-left: auto;

        &::after {
          display: none;
        }
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_content_bottom {
      padding-right: 0;
    }
  }

  @media (max-width: 991px) {
    .cs_content_bottom {
      padding-right: 0;
    }
  }
}

.cs_appointment_img {
  width: 100%;

  img {
    width: 100%;
  }
}

.cs_appointment_form_wrapper {
  .cs_form_field {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--gray4-color);
    outline: none;

    &:focus {
      border-color: var(--accent-color);
    }
  }
}

.cs_appointment_form_1,
.cs_appointment_form_2 {
  .cs_input_wrap {
    padding: 10px;
  }

  label {
    display: block;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.45em;
    color: var(--primary-color);
  }

  .cs_form_field,
  .cs_timepicker,
  .cs_datepicker,
  .choices__inner {
    width: 100%;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 16px;
    resize: none;
    background-color: transparent;
  }

  .cs_date_icon {
    right: 12px;
    bottom: 14px;
    pointer-events: none;
    filter: brightness(0) saturate(100%) invert(31%) sepia(12%) saturate(671%) hue-rotate(176deg) brightness(97%) contrast(91%);
  }

  .cs_time_icon {
    display: inline-block;
    right: 15px;
    bottom: 21px;
    pointer-events: none;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }

  //Choise jS Select styling
  .choices__inner {
    min-height: auto;
    padding-bottom: 0 !important;
  }

  .choices__list.choices__list--single {
    padding: 0;
  }

  .choices__list--dropdown,
  .choices__list[aria-expanded] {
    border: 1px solid var(--accent-color);
    margin-top: 10px;

    .choices__item {
      &:hover {
        color: var(--white-color);
        background-color: var(--accent-color);
      }
    }
  }

  .choices[data-type*="select-one"]::after {
    content: "";
    width: 8px;
    height: 8px;
    border: 2px solid var(--secondary-color);
    border-left: 0;
    border-top: 0;
    position: absolute;
    right: 5px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%) rotate(45deg);
    pointer-events: none;
  }

  //Choise jS Select styling
  .cs_btn_style_2 {
    padding: 11px 25px 12px;
    border-color: var(--accent-color);

    img {
      filter: brightness(0) saturate(100%) invert(11%) sepia(57%) saturate(423%) hue-rotate(175deg) brightness(94%) contrast(89%);
      transition: filter 0.4s ease;
    }

    &:hover {
      color: var(--white-color);
      background-color: var(--accent-color);

      img {
        filter: brightness(0) saturate(100%) invert(99%) sepia(99%) saturate(5%) hue-rotate(320deg) brightness(107%) contrast(100%);
      }
    }
  }

  .cs_input_rating_wrap {
    display: flex;
    gap: 12px;
    align-items: center;

    .cs_input_rating {
      cursor: pointer;

      .fa-solid {
        color: var(--accent-color);
      }
    }
  }
}

.cs_appointment_form_2 {
  .cs_input_wrap {
    padding: 0;
  }

  .cs_form_field,
  .cs_timepicker,
  .cs_datepicker,
  .choices__inner {
    padding: 15px 20px !important;
    border-radius: 5px;
    background-color: var(--white-color);
  }

  .choices[data-type*="select-one"]::after {
    right: 15px;
    top: 49%;
  }

  .cs_date_icon {
    right: 15px;
    bottom: 18px;
  }

  .cs_time_icon {
    bottom: 25px;
  }

  &.cs_type_1 {
    .cs_input_wrap {
      padding: 11px 10px;
    }

    label {
      font-size: 14px;
      line-height: 1.42em;
    }

    .cs_form_field,
    .cs_timepicker,
    .cs_datepicker,
    .choices__inner {
      padding: 0 !important;
      border: 0;
    }

    .cs_date_icon {
      bottom: 15px;
    }

    .cs_time_icon {
      bottom: 20px;
    }

    .choices[data-type*=select-one]::after {
      right: 5px;
    }
  }
}

.flatpickr-day.today {
  border-color: var(--accent-color);
}

.flatpickr-day {
  &:hover {
    color: var(--white-color);
    border-color: var(--accent-color);
    background-color: var(--accent-color);
  }
}

/*========================================================
  APPOINTMENT Section 3
==========================================================*/
.cs_appointment_section_3 {
  padding: 120px 0;

  .cs_appointment_map {
    width: 100%;

    iframe {
      width: 100%;
      min-height: 540px;
      border: 0;
      border-radius: inherit;
    }
  }

  .cs_appointment_promise {
    width: 100%;
    padding: 24px;
    min-height: 366px;
    display: flex;
    flex-direction: column;
  }

  .cs_appointment_promise_title {
    position: relative;
    z-index: 2;
    max-width: 80%;
    line-height: 1.4;
  }

  .cs_appointment_promise_img {
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: hidden;
    border-radius: inherit;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center bottom;
      transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg,
          rgba(244, 242, 249, 0.85) 0%,
          rgba(244, 242, 249, 0.1) 50%);
      z-index: 1;
    }
  }

  .cs_appointment_right {
    width: 100%;
    margin-top: -544px;
  }

  .cs_appointment_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .cs_appointment_heading {
      padding-right: 60px;
    }
  }

  .cs_appointment_form_wrapper {
    width: 100%;
    padding: 110px;
  }

  @media (max-width: 1399px) {
    .cs_appointment_container {
      .cs_appointment_heading {
        padding-right: 0;
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_appointment_right {
      margin-top: 0;
    }

    .cs_appointment_container {
      align-items: flex-start;
    }

    .cs_appointment_form_wrapper {
      padding: 28px 24px;
    }
  }

  @media (max-width: 991px) {
    padding: 60px 0;

    .cs_appointment_promise {
      padding: 24px 15px;
      min-height: 250px;
    }

    .cs_appointment_map {

      iframe {
        min-height: 340px;
      }
    }
  }

  @media (max-width: 575px) {
    .cs_appointment_form_wrapper {
      padding: 24px 15px;
    }
  }
}

/*========================================================
  Appointment Section 4
==========================================================*/
.cs_appointment_section_4 {


  .cs_appointment_img {
    width: min(100%, 836px);
    height: 100%;
    transform: translateX(-12px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cs_appointment_form_wrapper {
    padding: 120px 0;
    width: min(100%, 648px);
  }

  @media (min-width:1920px) {
    .cs_appointment_img {
      transform: translateX(-40px);
    }
  }

  @media (max-width:991px) {
    padding: 70px 0 120px;

    .cs_appointment_img {
      width: 100%;
      // height: auto;
      // position: initial;
      transform: translateX(0px);
      border-radius: 10px
    }

    .cs_appointment_form_wrapper {
      width: 100%;
      padding: 0 0 50px;
    }
  }
}

/*========================================================
  Appointment Section 5
==========================================================*/
.cs_appointment_section_5 {
  @extend .cs_appointment_section_1;

  .cs_appointment_content {
    width: min(100%, 536px);
  }

  .cs_content_bottom {
    padding-right: 0;
  }
}